.container1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  overflow-x: hidden;

  /* background-image: linear-gradient(to bottom right, #ffffff, #80dbff);
 background-repeat: repeat; */
  background-color: #c1e4f1;
}

.container-bird {
  perspective: 2000px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.bird {
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 50%;
  height: 40px;
  width: 50px;
  transform: translate3d(-100vw, 0, 0) rotateY(90deg);
  transform-style: preserve-3d;
}

.bird-container {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translate3d(50px, 30px, -300px);
}

.wing {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 3px;
  transform-style: preserve-3d;
  transform-origin: center bottom;
  z-index: 300;
}

.wing-left {
  background: linear-gradient(to bottom, #a58dc4 0%, #7979a8 100%);
  transform: translate3d(0, 0, 0) rotateX(-30deg);
  animation: wingLeft 1.3s cubic-bezier(0.45, 0, 0.5, 0.95) infinite;
}

.wing-right {
  background: linear-gradient(to bottom, #d9d3e2 0%, #b8a5d1 100%);
  transform: translate3d(0, 0, 0) rotateX(-30deg);
  animation: wingRight 1.3s cubic-bezier(0.45, 0, 0.5, 0.95) infinite;
}

.wing-right-top,
.wing-left-top {
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  top: -20px;
  width: 0%;
  position: absolute;
  transform-origin: 100% 100%;
}

.wing-right-top {
  border-bottom: 20px solid #b8a5d1;
  transform: translate3d(0, 0, 0) rotateX(60deg);
  animation: wingRightTop 1.3s cubic-bezier(0.45, 0, 0.5, 0.95) infinite;
}

.wing-left-top {
  border-bottom: 20px solid #7979a8;
  transform: translate3d(0, 0, 0) rotateX(-60deg);
  animation: wingLeftTop 1.3s cubic-bezier(0.45, 0, 0.5, 0.95) infinite;
}

.bird-anim:nth-child(1) {
  animation: bird1 30s linear infinite forwards;
}

.bird-anim:nth-child(2) {
  animation: bird2 35s linear infinite forwards;
  animation-delay: 3s;
  z-index: 2;
}

.bird-anim:nth-child(3) {
  animation: bird3 30s linear infinite forwards;
  animation-delay: 5s;
}

.bird-anim:nth-child(4) {
  animation: bird4 30s linear infinite forwards;
  animation-delay: 7s;
  z-index: 5;
}

.bird-anim:nth-child(5) {
  animation: bird5 35s linear infinite forwards;
  animation-delay: 14s;
}

.bird-anim:nth-child(6) {
  animation: bird6 30s linear infinite forwards;
  animation-delay: 10s;
  z-index: 2;
}

@keyframes wingLeft {
  0%,
  100% {
    transform: translate3d(0, 0, 0) rotateX(-50deg);
  }

  50% {
    transform: translate3d(0, -20px, 0) rotateX(-130deg);
    background: linear-gradient(to bottom, #d9d3e2 0%, #b8a5d1 100%);
  }
}

@keyframes wingLeftTop {
  0%,
  100% {
    transform: translate3d(0, 0, 0) rotateX(-10deg);
  }

  50% {
    transform: translate3d(0px, 0px, 0) rotateX(-40deg);
    border-bottom: 20px solid #b8a5d1;
  }
}

@keyframes wingRight {
  0%,
  100% {
    transform: translate3d(0, 0, 0) rotateX(50deg);
  }

  50% {
    transform: translate3d(0, -20px, 0) rotateX(130deg);
    background: linear-gradient(to bottom, #a58dc4 0%, #7979a8 100%);
  }
}

@keyframes wingRightTop {
  0%,
  100% {
    transform: translate3d(0, 0, 0) rotateX(10deg);
  }

  50% {
    transform: translate3d(0px, 0px, 0px) rotateX(40deg);
    border-bottom: 20px solid #7979a8;
  }
}

@keyframes bird1 {
  0% {
    transform: translate3d(-120vw, -20px, -1000px) rotateY(-40deg) rotateX(0deg);
  }

  100% {
    transform: translate3d(100vw, -40vh, 1000px) rotateY(-40deg) rotateX(0deg);
  }
}

@keyframes bird2 {
  0%,
  15% {
    transform: translate3d(100vw, -300px, -1000px) rotateY(10deg) rotateX(0deg);
  }

  100% {
    transform: translate3d(-100vw, -20px, -1000px) rotateY(10deg) rotateX(0deg);
  }
}

@keyframes bird3 {
  0% {
    transform: translate3d(100vw, -50vh, 100px) rotateY(-5deg) rotateX(-20deg);
  }

  100% {
    transform: translate3d(-100vw, -10vh, 100px) rotateY(-5deg) rotateX(-20deg);
  }
}

@keyframes bird4 {
  0% {
    transform: translate3d(100vw, 30vh, 200px) rotateY(-5deg) rotateX(10deg);
  }

  100% {
    transform: translate3d(-100vw, -30vh, 200px) rotateY(-5deg) rotateX(10deg);
  }
}

@keyframes bird5 {
  0%,
  5% {
    transform: translate3d(100vw, 30vh, 400px) rotateY(-15deg) rotateX(-10deg);
  }

  100% {
    transform: translate3d(-100vw, 10vh, 400px) rotateY(-15deg) rotateX(-10deg);
  }
}

@keyframes bird6 {
  0%,
  10% {
    transform: translate3d(-100vw, 20vh, -500px) rotateY(15deg) rotateX(10deg);
  }

  100% {
    transform: translate3d(100vw, 40vh, -800px) rotateY(5deg) rotateX(10deg);
  }
}
